// DESKTOP
article.main {
	float: left;
	height: auto;
	min-height: 100%;
	width: 100%;
	.content {
		margin-left: auto;
		margin-right: auto;
		height: auto;
		width: 100%;
		overflow-x: hidden;
		@include mq(iphone) {
			max-width: 320px;
		}
		@include mq(android) {
			max-width: 480px;
		}
		@include mq(tablet) {
			max-width: 568px;
			margin-left: 200px;
		}
		@include mq(laptop) {
			max-width: 760px;
		}
		@include mq(desktop) {
			max-width: 1080px;
		}
	}
	@include mq(tablet) {
		width: 100%;
	}
	@include mq(laptop) {
		min-height: 800px;
	}
}

aside.d-sidebar {
	float: left;
	display: none;
	@include mq(tablet) {
		display: block;
		height: 100%;
		width: 200px;
		padding: 0 10px;
		margin-left: -100%;
		@include box-sizing(border-box);
	}
}

// MOBILE
aside.m-sidebar {
	position: absolute;
	left: -115%;
	width: 260px;
	background: $orange;
	height: auto;
	min-height: 100%;
	z-index: 99999;
	text-align: center;
	padding: 10px 10px;
	@include box-sizing(border-box);
	@include mq(tablet) {
		display: none;
	}
}

article.mobile {
	float: left;
	width: 100%;
	background: $feint-orange;
	@include mq(tablet) {
		display: none;
	}
}